@page
@model BarlangokD.Pages.EditModel

<h4>barlang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="barlang.id" />
            <div class="form-group">
                <label asp-for="barlang.nev" class="control-label"></label>
                <input asp-for="barlang.nev" class="form-control" />
                <span asp-validation-for="barlang.nev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="barlang.kiterjedes" class="control-label"></label>
                <input asp-for="barlang.kiterjedes" class="form-control" />
                <span asp-validation-for="barlang.kiterjedes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="barlang.melyseg" class="control-label"></label>
                <input asp-for="barlang.melyseg" class="form-control" />
                <span asp-validation-for="barlang.melyseg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="barlang.magassag" class="control-label"></label>
                <input asp-for="barlang.magassag" class="form-control" />
                <span asp-validation-for="barlang.magassag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="barlang.telepules" class="control-label"></label>
                <input asp-for="barlang.telepules" class="form-control" />
                <span asp-validation-for="barlang.telepules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
